
body {
	margin-left: 100px;
	display: block;
}

.grid0{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 2px 0px;
    width: 1020px;
    height: 1140px;
   

}


h3{
margin-left: 20px;
}

.p{
margin-left: 20px;
}

.grid1{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 2px 0px;
    width: 1000px;
    height: 300px;
    padding: 10px;

}

.grid2{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0px 10px;
    
    


}


.item1{

	background-color: #e5e7e6;
}

.item2{
	background-color: #e5e7e6;

}

.img{
	width: 150px;
	float: right;
	margin-top: -100px;

}