
{% extends 'base.html' %}
{% block title %} animals {% endblock title %}
{% load static %}
{% block contenu %}

    <h1>Details animal {{x}}</h1>

    {% for k in dictio.animals %}
      {% if k.id == x %}
          <p>image: <img src="{% static 'images/' %}{{ k.image }}" alt="cool" height="100" width="100" > </p>
          <p>ID: {{ k.id }}</p>
          <p>Name: {{ k.name }}</p>
          <p>Legs: {{ k.legs }}</p>
          <p>Weight: {{ k.weight }}</p>
          <p>Height: {{ k.height }}</p>
          <p>Speed: {{ k.speed }}</p>
          <p>Family: {{k.family}}</p>

      {% endif %}
    {% endfor %}


{% endblock contenu %}
